<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维管理平台</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>




<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>运维管理平台</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">



      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>

    <![endif]-->
  </head>

<body>
    <div class="container">
        <div class="row">
                <div class="jumbotron">
                    <h1 align="center">运维管理平台</h1>
                </div>
        </div>


        <div class="row">
            {% block content %}
            {% endblock %}
       </div>
    </div>
</body>
</html>